a {
  text-decoration: none;
  color: inherit;
}

.d-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.left-image {
grid-row: 1 / span 2;
}

.right-image {
grid-column: 2;
}

.d-grid img {
  max-width: 100%;
  height: 100%;
}

.space-container {
  padding: 50px 0px;
}

.d-flex {
  display: flex;
}

.col.d-flex {
  flex-direction: column;
}

.row.d-flex {
  flex-direction: row;
}

.category-products .row.d-flex {
  justify-content: space-around;
}

.col.category-product {
  align-items: center;
  gap: 20px;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.title.category-title {
  margin: 0px auto;
  width: 152px;
}

.button {
  padding: 10px 30px;
}

.b-blue {
  background-color: #407EC9;
  color: #fff;
}

span.price {
  color: #407EC9;
  font-weight: 600;
  font-size: 21px;
  margin-top: 5px;
}

.product-carusel {
  background-color: #F9F9F9;
}

.product-carusel .title.category-title {
  text-align: center;
  margin-bottom: 20px;
}

.product-carusel .row.d-flex {
  gap: 15px;
}

article {
  flex: 1;
}

.product {
  align-items: center;
  background: #fff;
  padding: 20px 10px;
  border: 1px solid #e3e3e3;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.product-title {
  text-align: center;
  font-size: 16px;
  margin: 0px;
}

button.glide__arrow {
  width: 30px;
  height: 30px;
  background: #00000042;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
}

button.glide__arrow img {
  width: 100%;
}

button.glide__arrow.glide__arrow--left img{
  transform: translate(-1px, 2px);
}

button.glide__arrow.glide__arrow--right img{
  transform: translate(0px, 2px);
}

button.glide__arrow.glide__arrow--left {
  left: -45px;
}

button.glide__arrow.glide__arrow--right {
  right: -40px;
}

.glide__bullets {
  text-align: center;
  margin-top: 14px;
}

button.glide__bullet {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  background-color: #fff;
  cursor: pointer;
}

button.glide__bullet.glide__bullet--active {
  background-color: #000;
  border-color: #000;
}

@media(min-width:1024px){
  .container {
  max-width: 1312px;
  margin: auto;
}
}